<div>
    <h1>Inicio de Sesion</h1>
    <form action="/session/login" method="post">
        <input type="text" name="email" placeholder="E-Mail">
        <input type="password" name="password" placeholder="Password"> <br>
        <button type="submit" class="btn btn-warning" >Iniciar Sesion Local</button><br><br>
        
    </form>
    <a href="/session/github" class="btn btn-warning">Iniciar Sesion GitHub</a> <br><br>
    <a href="/register" class="btn btn-warning">Registrese</a><br><br>
    <a href="/restore" class="btn btn-warning">Recuperar Contraseña</a><br><br>
    <a href="/" class="btn btn-warning" >Pagina de Inicio</a>
</div>